@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background: url('/slider.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home2 {
  background: url('/home2.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home3 .listDiv {
  background: url('/price.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
}

.home3 .listDiv:hover {
  background: #262937;
}



.priceSec .box {
  padding: 4rem;
  cursor: pointer;
}

.priceSec .icon {
  font-size: 1px !important;
}

.priceSec #boxOne {
  background: url('/price1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.priceSec #boxOne:hover {
  background: #2cffc8;
}

.priceSec #boxTwo {
  background: url('/price2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.priceSec #boxTwo:hover {
  background: #262937;
}

.priceSec #boxThree {
  background: url('/price3.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.priceSec #boxThree:hover {
  background: #e1ff19;
}


.conSec {
  background: url('/copyright.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}



.Slider {
  background: url('/slider-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}




a.button {
  margin: 20px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.arrow {
  color: #2cffc8;
}

.arrow::after {
  display: inline-block;
  padding-left: 5px;
  content: "➞";
  transition: transform 0.3s ease-out;
  position: relative;
  top: 2px;
}

.arrow:hover {
  color: #e1ff19;
}

.arrow:hover::after {
  transform: translateX(4px);
}

.slick-dots li.slick-active button:before {
  color: #e1ff19 !important;
}

.slick-dots li button:before {
  color: #fff !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.slick-dots {
  bottom: -5em !important;
}



@media only screen and (max-width: 600px) {
  .slick-dots {
    bottom: -3em !important;
  }

  .slick-next {
    right: 0 !important;
    display: none !important;
  }
}